<div class="tabs border-0">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <% case params['action'] %>
  <% when 'buy' %>
    <li class="nav-item" style='width:200px'>
      <%= link_to batches_path, class: 'nav-link', data: {bs_toggle: 'tab',
                                                  bs_target: '#batch',
                                                  content_target: 'batch',
                                                  action: 'click->content#batch'
                                                }   do %>
        <%= 'Lots' %>
      <% end %>
    </li>
    <li class="nav-item" style='width:200px' >
      <%= link_to suppliers_path, class: 'nav-link', data: {bs_toggle: 'tab',
                                                            bs_target: '#supllier',
                                                            content_target: 'supplier',
                                                            action: 'click->content#supplier'} do %>
        <%= 'Fournisseurs' %>
      <% end %>
    </li>
    <li class="nav-item" style='width:200px' >
      <%= link_to products_path, class: 'nav-link', data: {bs_toggle: 'tab',
                                                 bs_target: '#product',
                                                 content_target: 'product',
                                                 action: 'click->content#product'} do %>
        <%= 'Produits' %>
      <% end %>
    </li>
  <% when 'quality' %>
    <li class="nav-item" style='width:200px'>
      <a class="nav-link active" aria-current="page" href="#" id="home-tab" data-bs-toggle="tab" data-bs-target="#lot" type="button" role="tab" aria-controls="lot" aria-selected="true">
        <%= 'Lots reçus' %>
      </a>
    </li>
    <li class="nav-item" style='width:200px'>
      <a class="nav-link" aria-current="page" href="#" id="home-tab" data-bs-toggle="tab" data-bs-target="#lot" type="button" role="tab" aria-controls="lot" aria-selected="false">
        <%= 'Lots conditionnés' %>
      </a>
    </li>
    <li class="nav-item" style='width:200px'>
      <a class="nav-link" aria-current="page" href="#" id="home-tab" data-bs-toggle="tab" data-bs-target="#lot" type="button" role="tab" aria-controls="lot" aria-selected="false">
        <%= 'Echantillons envoyés' %>
      </a>
    </li>
  <% when 'sale' %>
    <li class="nav-item" style='width:200px'>
      <a class="nav-link active" aria-current="page" href="#" id="home-tab" data-bs-toggle="tab" data-bs-target="#batch" type="button" role="tab" aria-controls="lot" aria-selected="true">
        <%= 'Commandes clients' %>
      </a>
    </li>
    <li class="nav-item" style='width:200px'>
      <a class="nav-link" aria-current="page" href="#" id="home-tab" data-bs-toggle="tab" data-bs-target="#supplier" type="button" role="tab" aria-controls="lot" aria-selected="false">
        <%= 'Refus' %>
      </a>
    </li>
      <% when 'transport' %>
    <li class="nav-item" style='width:200px'>
      <a class="nav-link active" aria-current="page" href="#" id="home-tab" data-bs-toggle="tab" data-bs-target="#product" type="button" role="tab" aria-controls="lot" aria-selected="true">
        <%= 'Transports en cours' %>
      </a>
    </li>
    <li class="nav-item" style='width:200px'>
      <a class="nav-link" aria-current="page" href="#" id="home-tab" data-bs-toggle="tab" data-bs-target="#lot" type="button" role="tab" aria-controls="lot" aria-selected="false">
        <%= 'Transports chargés' %>
      </a>
    </li>
    <% end %>
    <li class="flex-grow-1 no-use-tabs"></li>
  </ul>
</div>
