<div class="container">
  <div class="row">
    <div class="col-4 offset-3 mt-4">
      <h2>Connecter vous</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      label: false,
                      autofocus: true,
                      input_html: {placeholder: 'Email' } %>
          <%= f.input :password,
                      required: false,
                      label: false,
                      input_html: { placeholder: 'Mot de passe' } %>
          <%= f.input :remember_me, label: 'Se rappeler de moi', as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Connection" %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
