<% if batchs.count > 0 %>
  <% batchs.each do |batch| %>
    <div class="card-product mt-5">
        <% if batch.product.photo.attached? %>
          <%= cl_image_tag batch.product.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% end %>
      <div class="card-product-infos">
        <h2><%= batch.number %></h2>
        <p><%= batch.supplier.name %></p>
        <p><%= batch.product.name %></p>
        <p><%= batch.quantity %></p>
      </div>
    </div>
  <% end %>
<% else %>
  <h1>Vous n'avez pas de lots</h1>
<% end %>
