<div class="p-3 d-flex justify-content-between">
  <%= simple_form_for(batch,
                      data: {
                        info_target: "form",
                        action: "submit->info#send"
                        }) do |f| %>
    <%= f.input :number, label: false, input_html: {placeholder: 'Numero de lot', data: { create_target: 'input'}}  %>
    <%= f.input :quantity, label: false, input_html: {placeholder: 'Quantité en tonne', data: { create_target: 'input'}}  %>
    <%= f.input :supplier_id, collection: Supplier.all, label: false, input_html: {placeholder: 'Fournisseur', data: { create_target: 'input'}} %>
    <%= f.input :product_id, collection: Product.all, label: false, input_html: {placeholder: 'Produit', data: { create_target: 'input'}} %>
    <div class='mb-2'>
      <%= f.collection_radio_buttons :transportation, [[1, 'Route'], [2, 'Maritime']], :first, :last,  item_label_class:'px-2 ' %>
    </div>
    <%= f.input :discharge_place, label: false, input_html: {placeholder: 'Lieu de déchargement'} %>
    <% if batch.transportation == 2 %>
      <%= f.input :bank, label: false, input_html: {placeholder: 'Banque'} %>
      <%= f.collection_radio_buttons :status, Batch::STATUS, :first, :last, item_wrapper_tag: :div, item_label_class:'mx-1' %>
    <% end %>
    <%= f.button :submit, 'Mettre à jour', class: 'btn btn-outline-primary', data: {
                                                              disable_with: false,
                                                            } %>

  <% end %>
  <div data-action="click->info#close">
    <i class="fa-solid fa-xmark"></i>
  </div>
</div>
