<% if products.count > 0 %>
  <% products.each do |product| %>
    <div data-controller="info" >
      <div data-controller="document" >
        <div data-document-target="card">
          <div class="card-product mt-5">
            <% if product.photo.attached? %>
              <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <% end %>
            <div data-info-target='info' class="card-product-infos flex-grow-1">
              <h2><%= product.name %></h2>
            </div>
            <div class="card-product-edit" >
              <%= link_to edit_product_path(product), class: 'me-4', data: {
                                                    info_target: "model",
                                                    action:"click->info#info"
                                                  },
                                                  style: 'text-decoration: none; color: black' do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
              <%= link_to product_documents_path(product), class: 'me-4', data: {
                                              document_target: 'doc',
                                              action: 'click->document#info'
                                              },
                                              style: 'text-decoration: none; color: black' do  %>
                <i class="fa-regular fa-file-lines"></i>
              <% end %>
              <%= link_to new_product_document_path(product), class: 'me-4', data: {
                                                    document_target: 'new',
                                                    action: 'click->document#new'
                                                    }, style: 'text-decoration: none; color: black' do   %>
                        <i class="fa-solid fa-folder-plus"></i>
              <% end %>
            </div>
          </div>
          <div data-info-target='insert' data-document-target='insert' style='background:white'></div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <h1>Vous n'avez pas de lots</h1>
<% end %>
